.DS_Store
*.xccheckout
*.xcscmblueprint
xcuserdata
WXYC/DerivedData
WXYC/WXYC.xcodeproj/project.xcworkspace/xcshareddata/*
DerivedData
WXYC/WXYC.xcodeproj/xcshareddata/*
WXYC.xcodeproj/project.xcworkspace/xcshareddata/*
